@font-face {
  font-family: "Oranienbaum";
  src: url("../fonts/Oranienbaum.ttf") format("truetype");
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Oranienbaum", Arial, Helvetica, sans-serif;
}
