<div class="wrapper">
  <div class="login-container">
    <div class="header">
      <div class="header-left">
        <span>{{'AlauntHeaderTitle' | translate}}
        </span>
      </div>
      <div class="header-right">
        <!-- TODO -> svgs with language change -->
      </div>
    </div>
    <div class="form">
      <span>{{'PlaceholderUsername' | translate}}</span>
      <input type="text" [placeholder]="'PlaceholderUsername' | translate" #username>
      <span>{{'Password' | translate}}</span>
      <input type="password" [placeholder]="'PlaceholderPassword' | translate" #password>

      <ng-container *ngIf="isLoginScreen">
        <div class="button" (click)="onLoginClick(username.value, password.value)">{{'Login' | translate}}</div>
      </ng-container>
      <ng-container *ngIf="!isLoginScreen">
        <div class="button" (click)="onRegistrateClick(username.value, password.value)">{{'Registrate' | translate}}
        </div>
      </ng-container>

      <ng-container *ngIf="isLoginScreen">
        <span class="sign-in" (click)="toggleLoginScreen()">{{'LoginSignUp' | translate}}</span>
      </ng-container>
      <ng-container *ngIf=" !isLoginScreen">
        <span class="sign-in" (click)="toggleLoginScreen()">{{'LoginSignIn' | translate}}</span>
      </ng-container>
    </div>
    <div class="footer">
      <span>{{'AlauntFooterTitle' | translate}}</span>
    </div>
  </div>
</div>


<!-- {
    "Login": "Login",
    "Logout": "Logout",
    "SignIn": "Sign in",
    "PlaceholderUsername": "Your username",
    "PlaceholderEmail": "A valid e-mail address",
    "LoadingGenericText": "Loading, please wait.."
  } -->
